---
http_interactions:
- request:
    method: get
    uri: http://api.ipapi.com/123?access_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - b67c8dcf-7b88-4feb-86ae-fa603d5702dc
      X-Request-Time:
      - '0.107'
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"123","type":null,"continent_code":null,"continent_name":null,"country_code":null,"country_name":null,"region_code":null,"region_name":null,"city":null,"zip":null,"latitude":null,"longitude":null,"location":{"geoname_id":null,"capital":null,"languages":null,"country_flag":null,"country_flag_emoji":null,"country_flag_emoji_unicode":null,"calling_code":null,"is_eu":null}}'
  recorded_at: Tue, 27 Jul 2021 16:56:08 GMT
recorded_with: VCR 6.0.0
