---
http_interactions:
- request:
    method: get
    uri: http://api.ipapi.com/185.192.69.232?access_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 8230fbed-357b-4db5-9932-27166fee68a7
      X-Request-Time:
      - '0.010'
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"185.192.69.232","type":"ipv4","continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","region_code":"ENG","region_name":"England","city":"Woodford Green","zip":"E5","latitude":51.58330154418945,"longitude":-0.016599999740719795,"location":{"geoname_id":2633655,"capital":"London","languages":[{"code":"en","name":"English","native":"English"}],"country_flag":"http:\/\/assets.ipapi.com\/flags\/gb.svg","country_flag_emoji":"\ud83c\uddec\ud83c\udde7","country_flag_emoji_unicode":"U+1F1EC
        U+1F1E7","calling_code":"44","is_eu":true}}'
  recorded_at: Tue, 27 Jul 2021 16:56:08 GMT
recorded_with: VCR 6.0.0
