@tailwind base;
@tailwind components;
@tailwind utilities;

.profiler-results {
	display: none;
}

.bullet-seperator li:before {
	content: "\2022";
	@apply px-2;
}

.bullet-seperator li:first-child:before {
	display: none;
}

.bullet-seperator .country:before {
	display: none;
}

@media (min-width: 640px) {
	.bullet-seperator .country:before {
		display: inline-block;
	}
}
